
.mat-dialog-content:host {
  max-width: 80%;
  max-height: 80%;
}

h2 {
  color: #080808;
  text-align: center;
  margin-top: 10px;
}

p {
  margin-bottom: 12px;
  margin-left: 20px;
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

button {
  background-color: #ff0000;
  padding: 12px 24px;
  border: none; 
  cursor: pointer;
  border-radius: 4px;
  margin: auto; /* Centraliza o botão horizontal e verticalmente */
  display: block; 
  margin-top: 20px;

}

button:hover {
  background-color: #f1d3d3;
}
