.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.form-field {
  width: 50%;
  margin-bottom: 10px;
}

button {
  background-color: #000 !important;
  color: #fff !important;
}

button:hover {
  background-color: #272626 !important;
  color: #fff !important;
}